.page_navigation a, .alt_page_navigation a {
	padding: 3px 5px;
	margin: 2px;
	color: #000;
	text-decoration: none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color: #ddd;
}
.ellipse {
	float: left;
}
.page_navigation, .alt_page_navigation {
	padding-bottom: 10px;
}
.active_page {
	background-color: white !important;
	color: black !important;
}